<h1>Product Listing</h1>

<% if current_user && current_user.admin? %>
  <%= link_to 'Add New Product', admin_new_product_path %>
<% end %>

<ul>
  <% @products.each do |product| %>
    <li>
      <strong><%= link_to product.name, product_path(product) %></strong>
    </li>
  <% end %>
</ul>
