<div class="search-results-container">
  <h1 class="search-results-heading">Search Results</h1>

  <% if @products.any? %>
    <ul class="search-results-list">
      <% @products.each do |product| %>
        <li class="search-result-item"><%= link_to product.name, product_path(product), class: 'search-result-link' %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="no-results-message">No products found for '<%= @keyword %>'</p>
  <% end %>
</div>